.zodiac-card {
  width: 200px;
  background: linear-gradient(45deg, blue 0%, yellow 50%, steelblue 100%);
  background-size: 500%;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  color: var(--color4);
}

.zodiac-card img {
  width: 100px;
}

.zodiac-card .name {
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Space and Astronomy';
}

.zodiac-card h2, h4 {
  margin: 5px;
  color: navy;
}

.zodiac-card:hover {
  cursor: pointer;
  animation: shift 2s forwards;
}

@keyframes shift {
  0% {
    background-position: 0% 50% 100%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0% 50% 100%
  }
}